# Assignment on Store_sales dataset

**Load the Dataset**

In [3]:
import pandas as pd
st_data=pd.read_csv("store_sales.csv")
st_data.head()

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13

**Calculate the total sales for each store across all months.**

In [15]:
total_sales = st_data.iloc[:, 2:14].sum(axis=1)
st_data['Total_Sales'] = total_sales
print(st_data[['store_id', 'Total_Sales']])

   store_id  Total_Sales
0       S_1          178
1       S_2          174
2       S_3          181
3       S_4          135
4       S_5          159
..      ...          ...
95     S_96          185
96     S_97          154
97     S_98          168
98     S_99          173
99    S_100          180

[100 rows x 2 columns]

**Find the average sales for each month across all stores**

In [18]:
avg_sales=st_data.iloc[:,2:14].mean(axis=1)
st_data['avg_sales'] =avg_sales
print(st_data[['store_id', 'avg_sales']])

   store_id  avg_sales
0       S_1  14.833333
1       S_2  14.500000
2       S_3  15.083333
3       S_4  11.250000
4       S_5  13.250000
..      ...        ...
95     S_96  15.416667
96     S_97  12.833333
97     S_98  14.000000
98     S_99  14.416667
99    S_100  15.000000

[100 rows x 2 columns]

**Identify the store with the highest total sales.**

In [41]:
highest_sales = st_data.loc[st_data['Total_Sales'].idxmax()][['store_id', 'Total_Sales']]
print(highest_sales)

store_id       S_62
Total_Sales     214
Name: 61, dtype: object

**Calculate the total sales for each city.**

In [62]:
total= st_data.groupby('city')['Total_Sales'].sum()
total

city
Arizona       3951
California    7522
Texas         5939
Name: Total_Sales, dtype: int64

**List stores with total sales greater than 200**

In [39]:
sales=st_data[st_data['Total_Sales']>200][['store_id', 'Total_Sales']]
print(sales)

   store_id  Total_Sales
37     S_38          207
39     S_40          204
50     S_51          210
61     S_62          214
69     S_70          206
72     S_73          213
77     S_78          211
85     S_86          214
86     S_87          203
92     S_93          204

**Which month had the highest average sales across all stores?**

In [49]:
monthly_totals = st_data.loc[:, 'Jan':'Dec'].mean(axis=0)
print(monthly_totals)

Jan     14.46
Feb     15.09
Mar     14.56
Apr     14.57
May     13.56
Jun     13.80
July    14.38
Aug     15.81
Sep     14.91
Oct     14.10
Nov     15.31
Dec     13.57
dtype: float64

In [56]:
month_highest_avg_sales = monthly_totals.idxmax()
highest_avg_month = monthly_totals.max()
print(month_highest_avg_sales,highest_avg_month)

Aug 15.81

**Which city generated the most revenue?**

In [63]:
city_high_sales = total.idxmax()
highest_sales_value = total.max()
print(city_high_sales,highest_sales_value)

California 7522