## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [3]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [8]:
auto=pd.read_csv("Automobile.csv")
auto

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

**Check the head of the DataFrame.**

In [7]:
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [11]:
row_count=auto.shape[0]
row_count

201

In [13]:
col_count=auto.shape[1]
col_count

26

**What is the average Price of all cars in the dataset?**

In [28]:
avg_price= auto['price'].mean()
avg_price

np.float64(13207.129353233831)

**Which is the cheapest make and costliest make of car in the lot?**

In [27]:
cheapest_make = auto.loc[auto['price'].idxmin()]['make']
cheapest_price = auto['price'].min()
print(cheapest_make,cheapest_price)

subaru 5118

In [25]:
costliest_make = auto.loc[auto['price'].idxmax()]['make']
costliest_price = auto['price'].max()
print(costliest_make,costliest_price)

mercedes-benz 45400

**How many cars have horsepower greater than 100?**

In [36]:
cars_hp = auto[auto['horsepower'] > 100]
count_hp = cars_hp.shape[0]
print(f"Count of Horsepower greater than 100 are +>{count_hp}")

Count of Horsepower greater than 100 are => 90

**How many hatchback cars are in the dataset ?**

In [47]:
hatchback_cars=auto[auto['body_style']=='hatchback']
print(f"total  hatchback cars are in the dataset {hatchback_cars.shape[0]}")

total  hatchback cars are in the dataset 68

**What are the 3 most commonly found cars in the dataset?**

In [52]:
most_common_makes = auto['make'].value_counts().head(3)
print(f"Top 3 most commonly found car makes:{most_common_makes}")

Top 3 most commonly found car makes:make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [53]:
purchase_car=auto[auto['price']==7099]['make']
purchase_car

87    nissan
Name: make, dtype: object

**Which cars are priced greater than 40000?**

In [57]:
cars_above_40000 = auto[auto['price'] > 40000]
cars_above_40000_display = cars_above_40000[['make', 'price']]
print(cars_above_40000_display)

             make  price
15            bmw  41315
70  mercedes-benz  40960
71  mercedes-benz  45400

**Which are the cars that are both a sedan and priced less than 7000?**

In [58]:
sedans_under_7000 = auto[(auto['body_style'] == 'sedan') & (auto['price'] < 7000)]
print(sedans_under_7000[['make', 'body_style', 'price']])

           make body_style  price
19    chevrolet      sedan   6575
24        dodge      sedan   6692
42        isuzu      sedan   6785
50        mazda      sedan   6695
82   mitsubishi      sedan   6989
86       nissan      sedan   5499
88       nissan      sedan   6649
89       nissan      sedan   6849
118    plymouth      sedan   6692
152      toyota      sedan   6938

 **Count the number of unique values in the `fuel_type` column.**

In [61]:
unique_fuel_types = auto['fuel_type'].nunique()
print(f"Number of unique fuel types: {unique_fuel_types},")

Number of unique fuel types: 2,

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [64]:
cars_hp_between = auto[(auto['horsepower'] > 100) & (auto['horsepower'] < 200)]
cars_hp_between_display = cars_hp_between[['make', 'horsepower', 'price']]
print(cars_hp_between_display)

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[85 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [67]:
average_body_style = auto.groupby('body_style')[['city_mpg', 'highway_mpg']].mean()
print(average_body_style)

              city_mpg  highway_mpg
body_style
convertible  20.500000    26.000000
hardtop      21.625000    27.250000
hatchback    26.602941    32.382353
sedan        25.053191    30.574468
wagon        24.040000    28.720000

**What is the median `price` for each `make`?**

In [69]:
median_price = auto.groupby('make')['price'].median()
print(median_price)

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [70]:
cars_filtered = auto[(auto['wheel_base'] > 100) & (auto['curb_weight'] < 2500)]
print(cars_filtered)

     symboling  normalized_losses    make fuel_type aspiration  \
9            2                192     bmw       gas        std
10           0                192     bmw       gas        std
169         -1                 65  toyota       gas        std
170         -1                 65  toyota    diesel      turbo
171         -1                 65  toyota       gas        std
172         -1                 65  toyota       gas        std
173         -1                 65  toyota       gas        std

    number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
9               two      sedan          rwd           front       101.2  ...
10             four      sedan          rwd           front       101.2  ...
169            four      sedan          fwd           front       102.4  ...
170            four      sedan          fwd           front       102.4  ...
171            four  hatchback          fwd           front       102.4  ...
172            four      sedan          fwd           front       102.4  ...
173            four  hatchback          fwd           front       102.4  ...

     engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
9            108         mpfi  3.50    2.80               8.8        101
10           108         mpfi  3.50    2.80               8.8        101
169          122         mpfi  3.31    3.54               8.7         92
170          110          idi  3.27    3.35              22.5         73
171          122         mpfi  3.31    3.54               8.7         92
172          122         mpfi  3.31    3.54               8.7         92
173          122         mpfi  3.31    3.54               8.7         92

     peak_rpm city_mpg  highway_mpg  price
9        5800       23           29  16430
10       5800       23           29  16925
169      4200       29           34   8948
170      4500       30           33  10698
171      4200       27           32   9988
172      4200       27           32  10898
173      4200       27           32  11248

[7 rows x 26 columns]

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [71]:
auto['price_per_hp'] = auto['price'] / auto['horsepower']
print(auto[['make', 'price', 'horsepower', 'price_per_hp']].head())

          make  price  horsepower  price_per_hp
0  alfa-romero  13495         111    121.576577
1  alfa-romero  16500         111    148.648649
2  alfa-romero  16500         154    107.142857
3         audi  13950         102    136.764706
4         audi  17450         115    151.739130

**Count how many cars have a `number_of_doors` as `four`.**

In [72]:
cars_with_four_doors = auto[auto['number_of_doors'] == 'four']
count_four_doors = cars_with_four_doors.shape[0]
print(f"Number of cars with four doors: {count_four_doors}")

Number of cars with four doors: 114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [73]:
top_5_cars = auto.sort_values(by=['highway_mpg', 'price'], ascending=[False, False])
top_5_cars_display = top_5_cars.head(5)
print(top_5_cars_display[['make', 'highway_mpg', 'price']])

          make  highway_mpg  price
29       honda           54   6479
17   chevrolet           53   5151
87      nissan           50   7099
155     toyota           47   7788
156     toyota           47   7738

**How many cars have missing values in the `normalized_losses` column?**

In [74]:
missing_normalized_losses = auto['normalized_losses'].isnull().sum()
print(f"Number of cars with missing values in 'normalized_losses': {missing_normalized_losses}")

Number of cars with missing values in 'normalized_losses': 0

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [81]:
current_year = 2025
year_of_manufacture = {
    'toyota': 1937,
    'nissan': 1933,
    'mazda': 1920,
    'mitsubishi': 1917,
    'honda': 1948,
    'volkswagen': 1937,
    'subaru': 1953,
    'peugeot': 1896,
    'volvo': 1927,
    'dodge': 1914,
    'mercedes-benz': 1926,
    'bmw': 1916,
    'plymouth': 1925,
    'audi': 1909,
    'saab': 1947,
    'porsche': 1931,
    'jaguar': 1922,
    'chevrolet': 1911,
    'alfa-romero': 1910,
    'isuzu': 1916,
    'renault': 1899,
    'mercury': 1939
}
auto['year_of_manufacture'] = auto['make'].map(year_of_manufacture)

auto['car_age'] = current_year - auto['year_of_manufacture']
print(auto[['year_of_manufacture', 'car_age']])

     year_of_manufacture  car_age
0                 1910.0    115.0
1                 1910.0    115.0
2                 1910.0    115.0
3                 1909.0    116.0
4                 1909.0    116.0
..                   ...      ...
196               1927.0     98.0
197               1927.0     98.0
198               1927.0     98.0
199               1927.0     98.0
200               1927.0     98.0

[201 rows x 2 columns]

### The END